.container
  .row-fluid
    -# zoom = (@json.length > 100 ? true : false rescue false)
    = #gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => zoom, "zoom" => 6}) if !@json.nil? 
    = gmaps("polylines"=>{ "data" => heat_map})
    = link_to "Back", user_device_traced_routes_path, :class => "btn btn-warning"