.container
     
  .row-fluid
    .span12
      %center
        %h1
          How it works
  %br
  %br 
  .row-fluid
    .span2.login
      %h1 1
    .span9.login
      .span6.text-left
        %h4
          = t("frontend.how_it_works.step1")
      .span3
        = #image_tag "signup.png", :class => "img-polaroid"
    .span1
  %br
  %br 
  .row-fluid
    .span2.login
      %h1 2
    .span9.login
      .span3
      .span6.text-right
        %h4
          = t("frontend.how_it_works.step2")
    .span1
  %br
  %br 
  .row-fluid
    .span2.login
      %h1 3
    .span9.login
      .span6.text-left
        %h4
          = t("frontend.how_it_works.step3")
      .span3
    .span1


 
  %br
  %br