.container
     
  .row-fluid
    .span12
      %center
        %h1
          How it works
  .row-fluid
    .span3
      %center
        
        %h3
          1) Fusce
      %p
        Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.

    .span3
      %center
        
        %h3
          2) Condimentum
      %p
        Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.
    .span3
      %center
        
        %h3
          3) Mauris
      %p
        Suspendisse potenti. Sed tristique elit at ipsum aliquet pretium. Ut nec lorem in odio dignissim blandit. Donec nec eros odio. Quisque eget ante eleifend tortor volutpat pharetra.
    .span3
      %center 
        
        %h3
          4) Ipsum
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi vitae erat molestie pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  %br
  %br