

.container
     
  .row-fluid
    .span12
      %center
        %h1
          = t "project.title"
      %center
        %h5
          (Proyecto de Rastreo y Análisis de la Información Geoestadística)
  %br
  %br
  .row-fluid
    .span1
    .span10
      #wrapper
        %div(class="slider-wrapper theme-default")
          %div(id="slider" class="nivoSlider")
            %img(src="assets/slide2_NH.jpg" alt="" title="This is an example of a caption")
            %img(src="assets/gps.png" alt="" title="This is an example of a caption")
            %img(src="assets/dubare-elephant-camp-coorg.jpg" alt="" title="This is an example of a caption")

    .span1
  .row-fluid
    .span1
    .span5
      %h2
        ¿Que es GPS Tracker?
      %p
        Nullam congue lobortis consectetur. Etiam vel dolor a quam pretium convallis. Vivamus elit ante, volutpat vitae faucibus quis, commodo nec diam. Nulla non auctor diam. Sed eget lacinia ipsum.
    .span5
      %h2
        How Works?
      %p
        Sed vitae arcu et mauris imperdiet feugiat. Donec at turpis enim. Aenean et arcu in lacus pulvinar luctus. Morbi lorem tellus, rhoncus ut lobortis non, fermentum non enim. Nullam nec magna risus. Praesent imperdiet volutpat dapibus.
      %p
        Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.
    .span1
  %br
  .row-fluid
  %br
  .row-fluid
    .span3
      %center
        %img(src="assets/location.png" alt="" width="100px")
        %h3
          GPS Tracking
      %p
        Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.

    .span3
      %center
        %img(src="assets/monotone_earth_world_transparent.png" alt="" width="100px")
        %h3
          Data Analisis
      %p
        Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.
    .span3
      %center
        %img(src="assets/monotone_graph_chart.png" alt="" width="100px")
        %h3
          Graphics Generator
      %p
        Suspendisse potenti. Sed tristique elit at ipsum aliquet pretium. Ut nec lorem in odio dignissim blandit. Donec nec eros odio. Quisque eget ante eleifend tortor volutpat pharetra.
    .span3
      %center 
        %img(src="assets/monotone_document_file_paper.png" alt="" width="100px")
        %h3
          Report Generator
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi vitae erat molestie pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  %br
  %br

