.container
     
  .row-fluid
    .span12
      %center
        %h1
          Pricing

  .row-fluid
    .span4
      %center
        %h3
          Fusce
      %p
        Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.

    .span4
      %center
        %h3
          Potenti
      %p
        Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.
    .span4
      %center
        %h3
          Suspendisse
      %p
        Suspendisse potenti. Sed tristique elit at ipsum aliquet pretium. Ut nec lorem in odio dignissim blandit. Donec nec eros odio. Quisque eget ante eleifend tortor volutpat pharetra.
  %br
  %br