.container
     
  .row-fluid
    .span12
      %center
        %h1
          Pricing

  .row-fluid
    .span12
      %center
        %h3
          Just $199
      %p
        Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.
  %br
  %br
    .row-fluid
      .span3
        %center
          %img(src="/assets/location.png" alt="" width="100px")
          %h3
            GPS Tracking
        %p
          Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.

      .span3
        %center
          %img(src="/assets/monotone_earth_world_transparent.png" alt="" width="100px")
          %h3
            Data Analisis
        %p
          Fusce fermentum condimentum mauris vitae molestie. Nullam commodo lorem et tortor ultrices at vestibulum mi gravida. Donec volutpat malesuada auctor.
      .span3
        %center
          %img(src="/assets/monotone_graph_chart.png" alt="" width="100px")
          %h3
            Graphics Generator
        %p
          Suspendisse potenti. Sed tristique elit at ipsum aliquet pretium. Ut nec lorem in odio dignissim blandit. Donec nec eros odio. Quisque eget ante eleifend tortor volutpat pharetra.
      .span3
        %center 
          %img(src="/assets/monotone_document_file_paper.png" alt="" width="100px")
          %h3
            Report Generator
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi vitae erat molestie pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  %br
  %br