%h2 Reports

.login
  = link_to "Lineal Regresion Report", user_lineal_regresion_path
  %br
  %br
  = link_to "Stationality Analysis", user_stationality_analysis_path
  %br
  %br
  = link_to "Dependency Analysis Report", user_dependency_analysis_path
  %br
  %br