%h2 Reports

.login

  = link_to "Choose Device", measurements_user_devices_path
  %br
  %br
  = link_to "Stationality Analysis", user_stationality_analysis_path
  %br
  %br
  = link_to "Dependency Analysis Report", user_dependency_analysis_path
  %br
  %br