.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .container.nav-collapse
        %ul.nav
        %ul(class="nav pull-right")
          - if current_administrator
            %li
              = link_to t("common.my_account"), administrator_dashboard_path
            %li
              = link_to t("common.sign_out"), destroy_administrator_session_path
          - else
            %li
              = link_to t("common.my_account"), new_administrator_session_path
