= link_to raw(%|<i class="icon-eye-open icon-white"></i>&nbsp;#{t "actions.show"}|), [controller_path.split('/').first, show], :class => "btn btn-info" if show
= render "shared/actions/common", :edit => edit, :destroy => destroy, :instance => instance, :associations => associations
