=#title device.new_record? ? "c_t(:new)" : "#{device.id}"

.login
  %h2 New Device
  =simple_form_for([:administrator, device], :html => {:class => 'form-horizontal' }) do |f|
    =f.input :serial_number
    %br
    =f.input :pin

    .form-actions
      =f.button :submit, :class => 'btn-primary'
      =link_to t("buttons.cancel"), :back, :class => "btn btn-danger"