%h2= t "activerecord.models.devices"
= index_grid devices, [:id, :serial_number, :token], :show => false, :edit => false, :destroy => false, :new => false
= link_to "Back", administrator_root_path, :class => "btn btn-warning"
= link_to t("new_device"), new_administrator_device_path, :class => "btn btn-success"