%h2 Admin Dashboard

.login
  %h3
    = link_to "Administrators", administrator_administrators_path
  %br
  %h3
    = link_to "Users", administrator_users_path
  %br
  %h3
    = link_to "Devices", administrator_devices_path
  %br
